@font-face {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  src: url('GillSans.ttc');
}

body {
  background-color: #f4f4f4;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
  margin: 20px 0;
}

h1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
}

li {
  margin: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.2rem;
}

li a:hover {
  background-color: #555;
  transition: background-color 0.3s ease-in-out;
}
#error{
  font-size: xx-large;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #333;
  border-radius: 10px;
  padding: 20px;
  background-color: #f4f4f4;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  font-size: 1.2rem;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #555;
} 

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}